<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doolshe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doolshe"
        tools:replace="android:theme">
        <activity
            android:name=".AddProduct"
            android:exported="true" />
        <activity
            android:name=".ShopOwnerProfile"
            android:exported="true" />
        <activity
            android:name=".ShopOwnerDashboard"
            android:exported="true" />
        <activity
            android:name=".CustomerOrders"
            android:exported="true" />
        <activity
            android:name=".AddReview"
            android:exported="true" />
        <activity
            android:name=".AllReviews"
            android:exported="true" />
        <activity
            android:name=".ShopViewCustomer"
            android:exported="true" />
        <activity
            android:name=".ShopOwnerMyOrders"
            android:exported="true" />
        <activity
            android:name=".ShopOwnerMyShop"
            android:exported="true" />
        <activity
            android:name=".ShopOwnerRegistration"
            android:exported="true" />
        <activity
            android:name=".CustomerRegistration"
            android:exported="true" />
        <activity
            android:name=".ShopOwnerLogin"
            android:exported="true" />
        <activity
            android:name=".CustomerLogin"
            android:exported="true" />
        <activity
            android:name=".ChooseRegistration"
            android:exported="true" />
        <activity
            android:name=".ChooseLogin"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>